// 头部
// logo一栏
.logo {
    padding-top: 20px;
    padding-bottom: 12px;
    background-color: #fff;
    height: 100px;
    h1 {
      float: left;
      margin-right: 125px;
      img {
        width: 220px;
        height: 68px;
      }
    }
    .search {
      position: relative;
      float: left;
      // line-height: 68px;
      margin-top: 14px;
      outline: none;
      width: 510px;
      height: 36px;
      border: 2px solid red;
      border-radius: 20px;
      .txt {
        width: 450px;
        height: 36px;
        line-height: 36px;
        border-right: 0;
        text-indent: 7px;
        color: #666;
        border: 0;
        outline: none;
        float: left;
        border-radius: 18px 0 0 18px;
      }
      .sub {
        float: left;
        width: 60px;
        height: 36px;
        line-height: 36px;
        border: 0;
        border-radius: 18px;
        background: red;
        font-size: 12px;
        outline: none;
        color: #fff;
        cursor: pointer;
      }
      .List{
        position: absolute;
        top: 38px;
        left: 8px;
        width: 495px;
        border: 1px solid #b5b5b5;
        border-top: none;
        background: #fff;
        li{
          padding-left: 7px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
   
    .shopping {
      display: block;
      line-height: 40px;
      font-size: 12px;
      float: left;
      margin-left: 40px;
      margin-top: 14px;
      width: 110px;
      box-sizing: border-box;
      border: 2px solid red;
      border-radius: 20px;
      img {
        width: 20px;
        height: 20px;
        margin-left: 20px;
      }
      b {
        margin-left: 15px;
      }
    }
  }
  
  //导航栏
  .top_nav {
    border-bottom: #eaeaea 1px solid;
    z-index: 99;
  
    .topnav {
      position: relative;
      height: 40px;
      // border-bottom: 1px solid #eaeaea;
      // margin-left: 194px;
      background-color: #fff;
      line-height: 40px;
      font-size: 12px;
      // 菜单栏
        .menu {
          position: absolute;
          left: 0;
          top: 39px;
          margin: auto;
          height: 462px;
          z-index: 10;
          margin-top: -1px;
          font-size: 14px;
          li {
            position: relative;
            line-height: 39px;
            height: 39px;
            margin-left: 6px;
            background-color: red;
            color: #fff;
            width: 164px;
            padding-left: 14px;
            border-top: 1px solid #ff5160;
            img {
              position: absolute;
              width: 16px;
              height: 16px;
              top: 19px;
              left: 14px;
              transform: translate(0, -8px);
            }
            .imgred {
              display: none;
            }
            b {
              display: inline-block;
              margin-left: 40px;
              margin-right: 20px;
              width: 64px;
            }
            &:hover {
              background-color: #fff;
            }
            &:hover .imgred {
              display: inline-block;
            }
            &:hover .imgwrite {
              display: none;
            }
            &:hover b,
            &:hover span {
              color: red;
            }
          }
      }
      // 选项卡
      .ctgcard{
        display: none;
        position: absolute;
        top: 40px;
        left: 183px;
        overflow: hidden;
        border: 1px solid #ff1e3c;
        width: 930px;
        height: 459px;
        text-align: left;
        max-height: 459px;
        z-index: 10;
        .ctgcard-l{
          // box-sizing: border-box;
          padding-left: 20px;
          background: #fff;
          width: 696px;
          height: 462px;
          .classify{
            float: left;
            width: 330px;
            h3{
              height: 34px;
              line-height: 34px;
              font-size: 12px;
              color: #333;
              font-weight: bold;
              border-bottom: 1px solid #a3a3a3;
            }
            ul{
              margin-top: 8px;
              padding-right: 60px;
              li{
                float: left;
                height: 34px;
                line-height: 34px;
                margin-right: 20px;
                font-size: 12px;
              }
            }
          }
          
          
        }
      }
      .topnav-img {
        display: block;
        float: left;
        margin-left: 6px;
        margin-right: 25px;
        background-color: red;
        color: #fff;
        width: 164px;
        padding-left: 14px;
        img {
          width: 16px;
          height: 16px;
          margin-right: 22px;
        }
      }
      a {
        display: block;
        float: left;
        margin: 0 20px;
        color: #000000;
      }
      a:hover {
        color: red;
      }
    }
  }

// 商品列表
.goodslist{
    margin: 0 auto;
    margin-bottom: 6px;
    ul{
        overflow: hidden;
        margin: 0 auto;
        li{
            position: relative;
            float: left;
            width: 262px;
            height: 412px;
            margin-right: 10px;
            // margin: 0 7px 14px;
            margin-bottom: 14px;
            border: #fff 1px solid;
            background: #fff;
            font-size: 12px;
            .li{
                width: 262px;
                height: 412px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                cursor: pointer;
            }
            &:hover{
                border: solid #e31436 1px;
            }
            a{
                display: block;
                img{
                    display: block;
                    padding: 15px 15px 10px;
                    width: 232px;
                    height: 232px;

                }
            }
            .goods-desc{
                width: 234px;
                padding: 0 14px 11px;
                .price{
                    height: 22px;
                    line-height: 22px;
                    color: #e31436;
                    margin-top: 5px;
                    overflow: hidden;
                    i{
                        font-size: 16px;
                        color: red;
                        margin-top: 1px;
                        margin-left: -3px;
                    }
                    span{
                        font-size: 22px;
                        color: red;
                    }
                    img{
                        float: left;
                        width: 71.5px;
                        height: 22px;
                    }
                    .i{
                        float: left;
                        display: block;
                        width: 50px;
                        height: 22px;
                        color: #151515;
                        background: #ffdeb0;
                    }
                }
                h2{
                    width: 232px;
                    height: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: normal;
                }
                .info{
                    height: 20px;
                    font-size: 13px;
                    .self{
                        display: inline-block;
                        margin-right: 4px;
                        padding: 0 3px;
                        text-align: center;
                        line-height: 14px;
                        border: 1px solid #e31436;
                        background: #fff;
                        color: #e31436;
                        font-size: 12px;
                        border-radius: 2px;
                    }
                    .public{
                        display: inline-block;
                        margin-right: 4px;
                        padding: 0 3px;
                        text-align: center;
                        line-height: 14px;
                        border: 1px solid #e31436;
                        background: #e31436;
                        color: #fff;
                        font-size: 12px;
                        border-radius: 2px;
                    }
                }
                .goodinfo{
                    margin-top: 10px;
                    font-size: 12px;
                    // padding-left: 20px;
                    color: #333333;
                    span{
                        float: right;
                        color: #999;
                    }
                }
                .selfflag{
                    margin-top: 4px;
                    color: #999;
                }

            }
        }
    }
}